/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

img {
    width: 100%;
}

.gray_text {
    color: gray;
}

h2 {
    margin-bottom: 10px;
}

h4 {
    margin: 15px 0 5px;
}

.subtitle {
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: white;
}

.title {
    margin-left: 15px;
    margin-bottom: 25px;
}

.pointer:hover {
    cursor: pointer;
}

/* tasto upgrade */
.upgrade_banner {
    width: calc( 100% - 230px );
    height: 90px;
    text-align: center;
    padding: 35px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
}

.upgrade_banner .upgrade_link {
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
}

.upgrade_banner .upgrade_btn:hover {
    transform: scale(1.1);
}

/* MAIN */
main {
    height: calc( 100% - 90px );
}

/* nav */
nav {
    width: 230px;
    height: 100%;
    float: left;
    background-color: black;
    overflow: hidden;
}

/* desktop nav */
#desktop_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#desktop_nav .logo {
    width: 150px;
    height: auto;
    padding: 20px 0;
    margin-left: 20px;
}

#desktop_nav .main_links {
    margin: 10px 0 20px;
}

#desktop_nav .main_links li {
    padding-left: 20px;
    margin-bottom: 10px;
}

#desktop_nav .main_links .open_tab {
    border-left: 2px solid greenyellow;
}

#desktop_nav .main_links img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

/* bisogna dare min-height per l'effetto che fa quando
viene ridotta l'altezza della nav bar */
#desktop_nav .playlist_container {
    margin: 0 20px;
    min-height: 100px;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#desktop_nav .add_btn,
#desktop_nav .playlist li {
    margin: 10px 0;
}

/* 100% di altezza alla ul playlist di modo che si
adatti all'altezza della nav bar quando viene ridotta */
#desktop_nav .playlist {
    height: 100%;
    overflow-y: auto;
}

#desktop_nav .fa-plus-square {
    font-size: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#desktop_nav .install_app {
    padding: 10px 0;
    margin: 0 20px;
    border-bottom: 1px solid gray;
}

#desktop_nav .install_app img {
    width: 18px;
    height: auto;
    vertical-align: sub;
}

#desktop_nav .user_name {
    margin: 10px 20px;
}

#desktop_nav .user_name img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
}

/* mobile nav */
#mobile_nav {
    height: 100%;
    padding: 20px 10px;
    display: none;
}

#mobile_nav .main_links {
    margin-top: 20px;
    flex-grow: 1;
}

#mobile_nav .user_name img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
}

/* contenuto main */
.main_content {
    width: calc( 100% - 230px );
    height: 100%;
    float: left;
    background-color: #141922;
    overflow-y: auto;
    padding: 90px 15px 20px 0;
}

/* nav nel main */
main .main_nav {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

main .main_nav .open_tab {
    border-bottom: 2px solid greenyellow;
}


main .genres_list li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/* sezioni del main */
main section {
    margin: 20px 0;
}

main .row .disk_list {
    display: flex;
    flex-wrap: wrap;
}

main .row .disk_box {
    width: calc( 100% / 6 );
    padding-left: 15px;
    text-align: center;
    margin-bottom: 25px;
}

main .row .disk_img {
    position: relative;
}

/* si imposta display block alle img per
togliere quei pixel di defaul delle immagini */
main .row .disk_img img {
    display: block;
}

main .disk_img .layover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

main .disk_box:hover .layover {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .layover .fa-play-circle {
    font-size: 60px;
}

/* sezione artisti popolari */
#popular_artists .disk_box img {
    border-radius: 50%;
}

#popular_artists .disk_box .layover {
    border-radius: 50%;
}

/* FOOTER */
footer {
    height: 90px;
    background-color: #282828;
    overflow: hidden;
}

footer .footer_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* colonna sinistra footer */
footer .listening {
    width: 220px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

footer .listening .disk_playing {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

footer .listening .disk_playing_img {
    width: 45px;
    height: auto;
    margin-right: 10px;
}

footer .disk_name {
    flex-grow: 1;
}

footer .disk_name a {
    font-size: 11px;
}

footer .disk_name a:hover {
    color: gray;
    text-decoration: underline;
}

footer .listening .disk_fav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

footer .listening .heart:hover,
footer .listening .folder:hover {
    color: white;
}

/* colonna centrale footer */
footer .controls {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer .controls .fas{
    font-size: 18px;
    margin: 0 1.5%;
}

footer .controls .fa-play-circle {
    font-size: 35px;
    vertical-align: sub;
}

footer .controls .fa-play-circle:hover {
    transform: scale(1.2);
}

footer .navigation_bar {
    margin: 10px 0;
    width: 100%;
}

footer .navigation_bar .under_bar {
    display: inline-block;
    width: 50%;
    height: 6px;
    background-color: gray;
    border-radius: 5px;
    vertical-align: middle;
    margin: 0 1%;
}

footer .navigation_bar .over_bar {
    height: 100%;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

footer .under_bar:hover .over_bar {
    background-color: greenyellow;
}

footer .navigation_bar .circle_bar,
footer .volume_bar .circle_bar {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
}

footer .under_bar:hover .circle_bar {
    display: block;
}

footer .navigation_bar span {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
}

/* colonna destra footer */
footer .audio {
    width: 220px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

footer .audio .fas {
    font-size: 15px;
    margin: 0 2%;
}

footer .volume_bar {
    width: 60%;
}

footer .volume_bar .under_bar {
    display: inline-block;
    width: 90%;
    height: 6px;
    background-color: gray;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 4%;
}

footer .volume_bar .over_bar {
    height: 100%;
    width: 35%;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

footer .volume_bar .over_bar:hover {
    background-color: greenyellow;
}

/* MEDIA QUERY */
/* medium screen */
@media screen and (max-width: 880px) {
    main .row .disk_box {
        width: calc( 100% / 4 );
    }
    
    footer .navigation_bar .under_bar {
        width: 60%;
    }
}

/* small screen */
@media screen and (max-width: 640px) {
    main .row .disk_box {
        width: calc( 100% / 2 );
    }

    footer .listening,
    footer .audio {
        width: 180px;
    }

    footer .listening .disk_fav {
        width: 10%;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* extra small screen */
@media screen and (max-width: 550px) {
    nav {
        width: 50px;
    }

    #desktop_nav {
        display: none;
    }

    #mobile_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upgrade_banner {
        width: calc( 100% - 50px );
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .main_content {
        width: calc( 100% - 50px );
    }

    footer .listening,
    footer .audio {
        width: 130px;
    }

    footer .listening .far,
    footer .controls .fas,
    footer .audio .fas {
        font-size: 12px;
    }
    
    footer .controls .fa-play-circle {
        font-size: 25px;
    }

    footer .listening .disk_playing_img {
        width: 30px;
    }
    
    footer .disk_name h5 {
        font-size: 10px;
    }
    
    footer .disk_name a {
        font-size: 8px;
    }

    footer .navigation_bar .circle_bar,
    footer .volume_bar .circle_bar {
    width: 12px;
    height: 12px;
    }
}