/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

img {
    width: 100%;
}

.gray_text {
    color: gray;
}

.subtitle {
    color: gray;
    font-size: 13px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: white;
}

/* tasto upgrade */
.upgrade_banner {
    width: calc( 100% - 230px );
    height: 90px;
    text-align: center;
    padding: 35px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
}

.upgrade_banner .upgrade_link {
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
}

.upgrade_banner .upgrade_btn:hover {
    transform: scale(1.05);
}

/* MAIN */
main {
    height: calc( 100% - 90px );
}

/* nav */
nav .nav_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    width: 230px;
    height: 100%;
    float: left;
    background-color: black;
    overflow: hidden;
}

nav .logo img {
    width: 130px;
    height: auto;
}

nav .main_links li {
    padding-left: 18px;
}

nav .main_links .open_tab {
    border-left: 2px solid greenyellow;
}

nav .main_links img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

/* bisogna dare min-height per l'effetto che fa quando
viene ridotta l'altezza della nav bar */
nav .playlist_container {
    margin: 0 18px;
    min-height: 100px;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* 100% di altezza alla ul playlist di modo che si
adatti all'altezza della nav bar quando viene ridotta */
nav .playlist {
    height: 100%;
    overflow-y: auto;
}

.add_playlist .fa-plus-square {
    font-size: 40px;
    vertical-align: middle;
}

nav .install_app {
    margin: 0 18px;
    border-bottom: 1px solid gray;
}

nav .install_app img {
    width: 18px;
    height: auto;
    vertical-align: sub;
}

nav .user_name {
    margin: 0 18px;
}

nav .user_name img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
}

/* contenuto main */
.main_content {
    width: calc( 100% - 230px );
    height: 100%;
    float: left;
    background-color: #141922;
    overflow-y: auto;
    padding: 90px 20px 20px 20px;
}

main .main_nav {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

main .main_nav .open_tab {
    border-bottom: 2px solid greenyellow;
}

main section {
    margin: 40px 0;
}

main .genres_list li {
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
}

main .row .disk_box {
    float: left;
    width: calc( 100% / 6 );
    text-align: center;
}

main .row .disk_box img {
    height: auto;
}

/* sezione artisti popolari */
#popular_artists .disk_box img {
    border-radius: 50%;
}

/* FOOTER */
footer {
    height: 90px;
    background-color: #282828;
    overflow: hidden;
}

footer .footer_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .listening {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .listening .disk_playing {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

footer .listening .disk_img {
    width: 45px;
    height: auto;
    margin-right: 10px;
}

footer .listening .subtitle {
    font-size: 11px;
    font-weight: 600;
}

footer .listening .heart {
    margin-left: 15px;
}

footer .listening .folder {
    margin-left: 15px;
}

footer .controls {
    text-align: center;
    flex-grow: 1;
}

footer .controls .fas{
    font-size: 18px;
    margin: 0 25px;
}

footer .controls .fa-play-circle {
    font-size: 30px;
    vertical-align: sub;
}

footer .navigation_bar {
    margin: 10px 0;
    width: 100%;
}

footer .navigation_bar .under_bar {
    display: inline-block;
    width: 50%;
    height: 4px;
    background-color: gray;
    border-radius: 5px;
    vertical-align: middle;
    margin: 0 15px;
}

footer .navigation_bar .over_bar {
    width: 25%;
    border: 2px solid white;
    border-radius: 5px;
}

footer .navigation_bar span {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
}

footer .volume {
    height: 100%;
}